<footer>
	<div id="first-division">
		<div class="adr-block">
			<img src="/imgs/footer/location.png">
			<p id="footer-location">Avenida Com Luciano Guidotti, Piracicaba, São Paulo</p>
		</div>
		<div class="adr-block">
			<img src="/imgs/footer/phone.png">
			<p>(19) 3434 - 6442</p>
		</div>
		<div class="adr-block">
			<img src="/imgs/footer/whatsapp.png">
			<p>(19) 97600 - 1616</p>
		</div>
		<div class="adr-block">
			<img src="/imgs/footer/mail.png">
			<a href="mailto:chico_bioca@maisvantangescorretora.com">mvantagens@gmail.com</a>
		</div>
	</div>
	
	<div id="second-division">
		<p id="second-division-title">Guia de Links</p>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Pessoa Física</a></li>
			<li><a href="#">Pessoa Jurídica</a></li>
			<li><a href="#">Sobre Nós</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
	</div>

	<div id="third-division">
		<p>Mais Vantagens corretora de seguros, especializada em trazer realizar cotações eficientes e seguras pra você, esteja seguro de nos contatar.</p>
		<img src="/imgs/footer/mais_vantagens_logo.jpeg">
	</div>
</footer>