<header>
	<ul id="header-list-d">
		<li><a href="/"><img id="logo" src="/imgs/header/mv.png"></a></li>
		<li><a href="#">Pessoa Física</a></li>
		<li><a href="#">Pessoa Jurídica</a></li>
		<li><a href="#">Sobre Nós</a></li>
		<li><a href="/contact">Contato</a></li>
		<li><a class="cotacao-button" href="/quotation">Faça sua Cotação</a></li>
	</ul>

	<nav>
		<div id="header-mob-toggler"><img src="/imgs/header/3_bars.png"></div>
		<ul id="header-list-m">
			<li id="mob-close-toggler">Fechar</li>
			<li><a href="#">Pessoa Física</a></li>
			<li><a href="#">Pessoa Jurídica</a></li>
			<li><a href="#">Sobre Nós</a></li>
			<li><a href="/contact">Contato</a></li>
			<li><a href="/quotation">Faça sua Cotação</a></li>
		</ul>
	</nav>
</header>