<div id="all-container">
	<form>
		<div id="titles-and-description-container">
			<h2>Envie-nos uma Mensagem</h2>
			<p>Por favor informe os dados necessários para que possamos prosseguir e te responder o mais rápido possível.</p>
		</div>
		
		<div id="form-sections-container">
			<div class="form-fields-section">
				<p>Nome Completo</p>
				<input type="text" name="Nome">
				<input type="text" name="Sobrenome">
			</div>
			<div class="form-fields-section">
				<p>Email *</p>
				<input id="email" type="text" name="">
			</div>
			<div class="form-fields-section">
				<p>Tel. Celular</p>
				<input id="cod-country" type="text" name="" placeholder="Cod. Pais." value="+55" disabled="true">
				<input id="ddd" type="text" name="" placeholder="DDD">
				<input type="text" name="" placeholder="Numero">
			</div>
			<div class="form-fields-section">
				<p>Assunto</p>
				<select id="cars" name="cars">
				  <option value="Cotação">Cotação</option>
				  <option value="Dúvida">Dúvida</option>
				  <option value="Problema">Problema</option>
				  <option value="Outro">Outro</option>
				</select>
			</div>
			<div class="form-fields-section">
				<p>Mensagem *</p>
				<textarea id="message"></textarea>
			</div>
			<div id="verification">
				<p>Verificação *</p>
				<div class="g-recaptcha" data-sitekey="6LcZpbAZAAAAAF54zSrWCD5rj5aTy_K1cZUHSIoj"></div>
			</div>
		</div>
		<div id="form-aesthetic-line"></div>
		<div id="submit-container">
			<button type="submit">Enviar Mensagem</button>
			<p id="status-message"></p>
		</div>
	</form>
</div>