<div>
	<div id="background">
		<div id="background-gradient">
			<div id="background-gradient-content">
				<h1>Mais Vantagens Corretora</h1>
				<p id="text-slogan">Confiança e conforto são o nosso legado</p>
				<p id="image-message">Menos burocracia é mais seguro pra você!</p>
				<div id="content-cotacao-button-container">
					<p>Fique a vontade para realizar uma cotação conosco</p>
					<a id="cotacao-button-image" class="cotacao-button" href="/quotation">Solicitar Cotação</a>
				</div>
			</div> 
		</div>
		<img src="/imgs/home/laptop.jpg">
		<img id="background-img-mob" src="/imgs/home/tower.jpg">
	</div>

	<!-- 4 images content -->

	<div class="content-title-1">
		<p>Devo Realizar Um Seguro?</p>
	</div>

	<div id="reasons-content-container">
		<div id="reasons-content-container-aux">
			<div class="contents-grouper-2">
				<a class="content-container-itself">
					<div class="content-image-container-itself">
						<img src="/imgs/home/car.png">
					</div>
					<div class="content-title-container-itself">
						<h2>Veículos</h2>
					</div>
					<div class="content-title-p-container-itself">
						<p>Esteja totalmente seguro de nos contatar para te ajudar a ter segurança. Solicite uma cotação agora mesmo.</p>
					</div>
				</a>
				<a class="content-container-itself">
					<div class="content-image-container-itself">
						<img src="/imgs/home/tractor.png">
					</div>
					<div class="content-title-container-itself">
						<h2>Grande Porte</h2>
					</div>
					<div class="content-title-p-container-itself">
						<p>Grandes veículos necessitam de uma grande atenção e cuidado. Solicite uma cotação agora mesmo.</p>
					</div>
				</a>
			</div>
			<div class="contents-grouper-2">
				<a class="content-container-itself">
					<div class="content-image-container-itself">
						<img src="/imgs/home/magnolia.png">
					</div>
					<div class="content-title-container-itself">
						<h2>Vida</h2>
					</div>
					<div class="content-title-p-container-itself">
						<p>Porque como ter uma vida segura sem um seguro de vida? Solicite uma cotação agora mesmo.</p>
					</div>
				</a>
				<a class="content-container-itself">
					<div class="content-image-container-itself">
						<img src="/imgs/home/house.png">
					</div>
					<div class="content-title-container-itself">
						<h2>Residência</h2>
					</div>
					<div class="content-title-p-container-itself">
						<p>Seu lar é seu templo, esteja seguro de jamais perde-lo, realize um seguro. Solicite uma cotação agora mesmo.</p>
					</div>
				</a>
			</div>
		</div>
		<div id="contents-first-border"></div>
	</div>

	<!-- 4 images content -->

	<!-- 2 images with shadow content -->

	<div id="jiefangbei-main-content-container">
		<div class="jiefangbei-first-content-container">
			<div class="jiefangbei-first-content-img-container">
				<img id="jiefangbei2" src="/imgs/home/golden_1.jpg">
			</div>
			<div class="jiefangbei-first-content-texts-container">
				<h2>Não tenha medo de viver, esteja seguro consigo mesmo</h2>
				<p>Eu só queria dizer, mesmo de longe eu estou</p>
				<p>Só com você por isso eu te liguei ,pra sentir sua voz</p>
				<p>Me derreter, é sério</p>
				<p>Pode crê, só penso em você</p>
				<p>Só penso em nós dois menina, você nem tem do que duvidar</p>
				<p>Em qualquer olhar eu só vejo o seu</p>
				<p>Eu tenho o seu amor e você tem o meu</p>
			</div>
		</div>
		<div class="jiefangbei-first-content-container">
			<div id="jiefangbei-first-content-texts-container-2" class="jiefangbei-first-content-texts-container">
				<div id="jiefangbei-first-content-texts-container-2-aux">
					<h2>Estar sempre pronto é mais que alívio, é responsabilidade</h2>
					<p>Eu só queria dizer, mesmo de longe eu estou</p>
					<p>Só com você por isso eu te liguei ,pra sentir sua voz</p>
					<p>Me derreter, é sério</p>
					<p>Pode crê, só penso em você</p>
					<p>Só penso em nós dois menina, você nem tem do que duvidar</p>
					<p>Em qualquer olhar eu só vejo o seu</p>
					<p>Eu tenho o seu amor e você tem o meu</p>
				</div>
			</div>
			<div id="jiefangbei-first-content-img-container-2" class="jiefangbei-first-content-img-container">
				<img id="jiefangbei3" src="/imgs/home/girl.jpg">
			</div>
			<div id="jiefangbei-first-content-texts-container-2-mob" class="jiefangbei-first-content-texts-container">
				<div id="jiefangbei-first-content-texts-container-2-aux">
					<h2>Don't hesitate to know this wonderful and beatiful techonological area</h2>
					<p>shénme yuányīn wǒ jìngrán yòu huì yùjiàn nǐ</p>
					<p>wǒ zhēn de zhēn de bù yuànyì jiù zhèyàng xiànrù ài de xiànjǐng</p>
					<p>zhǐ pà wǒ zìjǐ huì ài shàng nǐ bù gǎn ràng zìjǐ kào dé tài jìn</p>
					<p>pà wǒ méishénme nénggòu gěi nǐ ài nǐ yě xūyào hěn dà de yǒngqì</p>
					<p>zhǐ pà wǒ zìjǐ huì ài shàng nǐ yěxǔ yǒu tiān huì qíngbùzìjīn</p>
					<p>xiǎngniàn zhǐ ràng zìjǐ kǔle zìjǐ ài shàng nǐ shì wǒ qíng fēiděi yǐ</p>
					<p>ài shàng nǐ shì wǒ qíng fēiděi yǐ</p>
				</div>
			</div>
		</div>
	</div>

	<!-- 2 images with shadow content -->

	<!-- overlay office content -->

	<div id="about-us-content-container">
		<div id="about-us-gradient">
			<p id="about-us-title">Sobre a Mais Vantagens</p>
			<p id="about-us-description">A Mais Vantagens Corretora é uma empresa dedicada e atualizada na cotação e realização de seguros de <span>todos</span> os tipos. Estamos fisicamente na região de Americana, Campinas e Piracicaba e atendemos para todo o Brasil. Contamos com mais de 1.000 clientes e diversas parcerias com as mais importantes seguradoras do mercado.</p>
			<a href="#" id="about-us-link" class="button-centralizer">
		    	<div class="center">
		      		<button class="btn">
		        		<svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
		          			<polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
		          			<polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
		        		</svg>
		        	<span>Mais Sobre Nós</span>
		      </button>
		    </div>
		  </a>
		</div>
		<img id="office-img" src="/imgs/home/office.jpg">
		<img id="office-img-mob" src="/imgs/home/office_m.jpg">
	</div>

	<!-- overlay office content -->

	<!-- seguradoras content -->

	<div id="seguradoras-content-container">
		<p>Seguradoras com que trabalhamos:</p>
		<div id="blank-line">
			<div></div>
		</div>
		<div id="seguradoras-images-container">
			<img src="/imgs/home/seguradoras_logos/allianz.png">
			<img src="/imgs/home/seguradoras_logos/azul.png">
			<img src="/imgs/home/seguradoras_logos/chubb.png">
			<img src="/imgs/home/seguradoras_logos/liberty.png">
			<img src="/imgs/home/seguradoras_logos/porto.png">
			<img src="/imgs/home/seguradoras_logos/sompo.png">
			<img src="/imgs/home/seguradoras_logos/suhai.png">
			<img src="/imgs/home/seguradoras_logos/tokio.png">
			<img src="/imgs/home/seguradoras_logos/zurich.png">
			<img src="/imgs/home/seguradoras_logos/liberty.png">
			<img src="/imgs/home/seguradoras_logos/bradesco.png">
			<img src="/imgs/home/seguradoras_logos/mitsui.jpg">
			<img src="/imgs/home/seguradoras_logos/mapfre.png">
			<img src="/imgs/home/seguradoras_logos/hdi.png">
			<img src="/imgs/home/seguradoras_logos/argo.png">
			<img src="/imgs/home/seguradoras_logos/sulamerica.jpg">
			<img src="/imgs/home/seguradoras_logos/itau.png">
		</div>
	</div>

	<!-- seguradoras content -->
</div>